#search {
  display: flex;
  max-width: 100%;
  min-width: 50%;
  margin: 0 auto;
  padding: 1cm;
}

#searchFields {
  padding: 1cm;
  align-content: center;
}

#searchField {
  min-width: 500px;
}

#results {
  max-width: 2000rem;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding-left: 1cm;
  padding-right: 1cm;
  border: 1px solid gray;
  min-width: 99%;
  font-size: small;
}

@media screen and (min-width: 600rem) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900rem) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}