<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Acervo</title>

    <link
      href="https://fonts.googleapis.com/css?family=Dosis:400,700"
      rel="stylesheet"
    />
    <link href="static/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="search">
      <img src="static/logo.png" height="200">
      <form>
        <label for="searchField">Buscar obra</label><br>
        <input type="text" id="searchField" name="searchField"><br>
        <input type="button", value="FTS", id="buttonFTS">
        <input type="button", value="Normal", id="buttonNormal", >
      </form>
    </div>
    <div id="results"></div>
    <script src="static/script.js"></script>
  </body>
</html>